/* version 3*/
body {
	background-image: linear-gradient(rgba(0, 255, 10, 0.50), rgba(0, 255, 10, 0.50)),
		url(http://arqdru.dbrqx.com/index1/img/backgrounds/brqx_winter_1920_2017.png);
	background-size: cover;
}
.ellipse {
  border: 90px solid black;
  border-radius: 50%;
  position: relative;
	clip-path: ellipse();
	-webkit-clip-path: ellipse();
	background-image: linear-gradient(rgba(0, 50, 0, 0.85), rgba(0, 50, 0, 0.85)), none;
	margin: 10px 10px 10px 10px;
	opacity: 0.8;
	/*width: 1250px;
	height: 600px;*/
}
.imgl {
	width: 70px;
	height: 50px;
  position: absolute;
}
.img-canada {
	left: 4.2%;
  top: 30%;
  
}
.img-columbia {
  left: 12%;
  top: 18%;
  
}
.img-china {
	left: 19.8%;
  top: 10.5%;
}
.img-comoros {
	left: 27.6%;
  top: 5.5%;
}
.img-ethiopia {
	left: 35.4%;
  top: 2.5%;
}
.img-jamaica {
	left: 43.2%;
  top: 1%;
}

.img-filande {
	left: 51%;
  top: 1%;
}
.img-france {
	left: 58.8%;
  top: 2.5%;
}
.img-estonia {
	left: 66.6%;
  top: 5.5%;
}
.img-costarica {
	left: 74.4%;
  top: 10.5%;
}

.img-burma {
	left: 82.2%;
  top: 18%;
}
.img-chad {
	left: 90%;
  top: 30%;
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

}
/* Large devices (desktops, 992px and up)*/
@media screen and (max-width: 992px) {
  	.imgl {
		width: 50px;
		height: 30px;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {
  	.imgl {
		width: 40px;
		height: 20px;
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {

	.imgl {
		width: 20px;
		height: 10px;
	}
}
